.home-img-container {
  height: 500px;
}

.developer-img {
  height: 80%;
  width: 100%;
  background-color: transparent;
  border-radius: 5% !important;
}

.skill-card {
  height: 220px !important;
  width: 220px !important;
  text-align: center;
  padding: 10px;
}

.skill-image-container {
  height: 90px;
  resize: both;
}

.skill-image {
  height: 100%;
}

.skill-description,
.project-description {
  font-size: 14px;
  text-align: center;
  /* font-family: 'growtesk'; */
  letter-spacing: .5px;
}

.project-container {
  min-width: 90% !important;
}

.project-card {
  min-width: 340px !important;
  max-width: 380px;
  min-height: 320px !important;
  max-height: 380px;
}

.project-name {
  font-size: 28px;
}

.redux-style {
  color: #8512f3
}

.bootstrap-style {
  color: #8512f3
}

.project-description {
  height: 160px;
  align-self: self-end;
}

.skill-card,
.project-card {
  transition: transform 0.4s ease;
}

.skill-card:hover,
.project-card:hover {
  transform: scale(1.15);
  z-index: 10;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.container-404 {
  height: 500px;
  margin: auto;
  background: rgba(255, 255, 255, 0.044);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  padding: 20px;
  color: #fff;
}

.number-404 {
  font-size: 200px;
}

.text-404 {
  font-size: 30px;
  font-family: 'growtesk';
}
